
/* top elements */
* { padding: 0; margin: 0; }

body {
	margin:	50px 0;
	padding: 0;
	font: .70em/1.5em  Verdana, Tahoma, Helvetica, sans-serif;
	color: #666666; 
	background: #A9BAC3	url(/images/bg-sky.jpg) repeat-x;
	text-align: center;
}

/* links */
a { 
	color: #4284B0;
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: #9EC068;
	background-color: inherit;
}

/* headers */
h1, h2, h3 {
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	color: #333;	
}
h1 { font-size: 1.5em; color: #6297BC; } 
h2 { font-size: 1.4em; text-transform:uppercase;}
h3 { font-size: 1.3em; }

p, h1, h2, h3 {
	margin: 10px 15px;
}
ul, ol {
	margin: 10px 30px;
	padding: 0 15px;
	color: #4284B0;
}
ul span, ol span {
	color: #666666; 
}

/* images */
img {
	border: 0 solid #CCC;
}
img.no-border {
	border: none;
}
img.float-right {
  margin: 5px 0px 5px 15px;  
}
img.float-left {
  margin: 5px 15px 5px 0px;
}
a img {  
  border: 2px solid #568EB6;
}
a:hover img {  
  border: 2px solid #CCC !important; /* IE fix*/
  border: 2px solid #568EB6;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
  border-left: 4px solid #4284B0; 
}
acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
blockquote {
	margin: 15px;
 	padding: 0 0 0 0px;  	
  	background: #FAFAFA;
	border: 4px solid #f2f2f2; 
	/* border-left: 4px solid #4284B0; */   
	/*color: #4284B0;*/
	color: black;
	font: 1.0em/1.5em Georgia, 'Bookman Old Style', Serif; 
	width: 170px;
}

/* form elements */
form {
	margin:10px; padding: 0;
	border: 1px solid #f2f2f2; 
	background-color: #FAFAFA; 
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding: 2px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
textarea {
	width:400px;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:200px;
	display:block;
	color:#777;
}
input.button { 
	margin: 0; 
	font: bold 1em Arial, Sans-serif; 
	border: 1px solid #CCC;
	background: #FFF; 
	padding: 2px 3px; 
	color: #4284B0;	
}

/* search form */
form.searchform {
	background: transparent;
	border: none;
	margin: 0; padding: 0;
}
form.searchform input.textbox { 
	margin: 0; 
	width: 120px;
	border: 1px solid #9EC630; 
	background: #FFF;
	color: #333; 
	height: 14px;
	vertical-align: top;
}
form.searchform input.button { 
	margin: 0; 
	padding: 2px 3px; 
	font: bold 12px Arial, Sans-serif; 
	background: #FAFAFA;
	border: 1px solid #f2f2f2;
	color: #777;	
	width: 60px;
	vertical-align: top;
}

/***********************
	  LAYOUT
************************/
#wrap {
	background: #FFF;
	width: 850px; height: 100%;
	margin: 0 auto;	
	text-align: left;
	border: 10px solid #ddddff;
}
#content-wrap {
	clear: both;
	margin: 0; padding: 0;	
	background: #FFF;
}
#content-wrap .blurb {
	border-bottom: 2px solid #F2F2F2;
	margin: 0 0 35px 0;
}

/* header */
#header {
	position: relative;
	height: 110px;	
	background: #fff url(/images/headerbg.gif) repeat-x 100% 100%;	
}
#header img {
	border:0;
	/*margin-left:10px*/
}
#header h1#logo {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 4.1em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	text-transform: lowercase;
	top: 0; left: 5px;	
}
#header h2#slogan {
	position: absolute;	 
	top:37px; left: 25px;
	color: #666666;
	text-indent: 0px;
	font: bold 11px Tahoma, 'trebuchet MS', Sans-serif; 
	text-transform: none;	
}
#header form.searchform {
	position: absolute;
	top: 0; right: -12px;	
}

/* main */
#main {
	float: left;
	margin: 0px 0 75px 15px;
	padding: 15px 0 0 0;
	width: 72%;		
}

#main-wide {
	float: left;
	margin: 0 0 0 15px;
	padding: 0;
	width: 70%;		
}

.post-footer {
	background-color: #FAFAFA;
	padding: 5px; margin: 20px 15px 0 15px;
	border: 1px solid #f2f2f2;
	font-size: 95%;	
}
.post-footer .date {
	background: url(/images/clock.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
	background: url(/images/comment.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
	background: url(/images/page.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}

/* sidebar */
#sidebar {
	float: left;
	width: 23%;
	/*margin: 8px 0 0 0;*/
	padding: 15px 0 0 0; 
	display: inline;		
}
#sidebar ul.sidemenu {
	list-style:none;
	margin:10px 0 30px 15px;
	padding:0;		
}
#sidebar ul.sidemenu li {
	margin-bottom:1px;
	border: 1px solid #f2f2f2;
}
#sidebar ul.sidemenu a {
	display:block;
	font-weight:bold;
	color: #333;	
	text-decoration:none;	
	padding:2px 5px 2px 10px;
	background: #f2f2f2;
	border-left:4px solid #CCC;	
	
	min-height:18px;
}

* html body #sidebar ul.sidemenu a { height: 18px; }

#sidebar ul.sidemenu a:hover {
	padding:2px 5px 2px 10px;
	background: #f2f2f2;
	color: #339900;
	border-left:4px solid #9EC630;
}

/* rightbar */
#rightbar {
	float: right;
	width: 23%;
	padding: 0; 
	/*margin: 8px 0 0 0;*/
}

/* Footer */
#footer { 
	clear: both; 
	/*color: #FFF; */
	/*background: #A9BAC3; */
	border-top: 5px solid #568EB6;
	margin: 0; padding: 0; 
	height: 50px;	  
	font-size: 95%;	
}
#footer a { 
	text-decoration: none; 
	font-weight: bold;	
	/*color: #FFF;*/
}
#footer .footer-left{
	float: left;
	width: 65%;
}
#footer .footer-right{
	float: right;
	width: 30%;
}

/* menu tabs */
#header ul {
	z-index: 999999;
	position: absolute;
   margin:0; padding: 0;
   list-style:none;
	right: 0; 
	bottom: 6px !important; bottom: 5px;
	font: bold 13px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;	
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
   float:left;
   background: url(/images/tableft.gif) no-repeat left top;
   margin:0;
   padding:0 0 0 4px;
   text-decoration:none;
}
#header a span {
   float:left;
   display:block;
   background: url(/images/tabright.gif) no-repeat right top;
   padding:6px 15px 3px 8px;
   color: #FFF;
}

.title{}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#FFF;
}
#header a:hover {
   background-position:0% -42px;
}
#header a:hover span {
   background-position:100% -42px;
}
#header #current a {
   background-position:0% -42px;
	color: #FFF;
}
#header #current a span {
   background-position:100% -42px;
	color: #FFF;
}
/* end menu tabs */

/* alignment classes */
.float-left  { float: left; }
.float-right {	float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.green {	color: #9EC630; }
.gray  {	color: #BFBFBF; }

.contact {
    margin:10px; padding: 0; margin-left:20px;
	border: 1px solid #f2f2f2; 
	background-color: #E0E0E0;
	width:500px;
}

form.paypal {
	width:30px;
	height:30px;
	margin-left:30px; 
	padding: 0px;
	background-color: white;
}


/*CAROUSEL*/
.carousel-holder{
	width:906px;
	height:100px;
	margin:-15px 0 8px 0;
	padding: 15px 0 0 0;
}
#carousel{
	clear:both;
}
#carousel{
	width:906px;
	height:100px;
}


#carousel a.link-prev,
#carousel a.link-next {
	margin:55px 0 0;
	font-size:20px;
	height:48px;
	line-height:50px;
	text-align:center;
	text-decoration:none;
	width:24px;
}
#carousel .link-prev{
	float:left;
	background: url(../images/gallery-btn-left.gif) no-repeat;
}
#carousel .link-next{
	float:right;
	background: url(../images/gallery-btn-right.gif) no-repeat;
}
#carousel div.holder{
	width:812px;
	padding:0 4px;
	height:100px;
	overflow:hidden;
	position:relative;
	float:left;
	/*background: url(../images/bg-gallery.gif) no-repeat;*/
	background: #E8E8E8;
	/*border: 2px dotted #999;*/
}
#carousel div ul{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:0;
	left:0;
	width:99999px;
}
#carousel div li{
	float:left;
	width:125px;
	overflow:hidden;
	/*padding:22px 19px 3px 17px;*/
	padding: 2px;
	height:90px;
}
#carousel div ul .link{
	white-space:nowrap;
}
#carousel div ul em{
	display:block;
	width:109px;
	height:151px;
	padding:16px 12px 9px 21px;
	background:url(../images/card.png) no-repeat;
}
#carousel div ul div.label{
	border:3px solid #93a2ab;
	height:35px;
	width:125px;
	background:#e8dcb0;
	margin:5px 0 0;
	padding:0 0 0 11px;
	color:#09220a;
	font:bold 10px Georgia, Arial, Helvetica, sans-serif;
}
#carousel div ul div.label .wrap-label{
	display:table;
	height:35px;
	width:125px;
}
#carousel div ul div.label .wrap-label div{
	display:table-cell;
	vertical-align:middle;
}
#carousel div ul li .link{
	border:3px solid #93a2ab;
	background:#06170f;
	height:16px;
	width:136px;
	margin:5px 0 0;
}
#carousel ul div.link span{
	float:left;
	width:127px;
	font:10px/13px Georgia, Helvetica, sans-serif;
	color: #e8dcb0;
	overflow:hidden;
	margin:1px 0 0;
	padding:0 0 0 1px;
	background: url(../images/arrow.gif) no-repeat 5px 3px;
	
}
#carousel ul div.link span a{
	padding:0 10px 0 19px;
}

/*preload classes*/
.svw {width: 50px; height: 20px; background: #fff;}
.svw ul {position: relative; left: -999em;}

/*core classes*/
.stripViewer { 
position: relative;
overflow: hidden; 
border: 5px solid gray;/*#ff0000;  */
margin: 0 0 1px 50px;
}
.stripViewer ul { /* this is your UL of images */
margin: 0;
padding: 0;
position: relative;
left: 0;
top: 0;
width: 1%;
list-style-type: none;
}
.stripViewer ul li { 
float:left;
}
.stripTransmitter {
overflow: auto;
width: 1%;
margin-left:50px;
}
.stripTransmitter ul {
margin: 0;
padding: 0;
position: relative;
list-style-type: none;
}
.stripTransmitter ul li{
width: 20px;
float:left;
margin: 0 1px 1px 0;
}
.stripTransmitter a{
font: bold 10px Verdana, Arial;
text-align: center;
line-height: 22px;
background: #787878 ;
color: #fff;
text-decoration: none;
display: block;
}
.stripTransmitter a:hover, a.current{
background: #fff;
color: black;
}

/*tooltips formatting*/
.tooltip
{
padding: 0.5em;
background: #fff;
color: #000;
border: 5px solid #dedede;
}

ul li img {
	width:500px;
}
.stitle {
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	font-size: 1.5em; 
	color: #6297BC;
	font-weight: bold;
}