<div class="carousel-holder">
		<div id="carousel">
			<!--<a href="#" class="link-prev"></a>-->
			<div class="holder">
				<ul>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>
					<li>
						<img src="../images/headerphoto.jpg" />
					</li>

				</ul>
			</div>
			<!--<a href="#" class="link-next"></a>-->
		</div>
	</div>