<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta name="Description" content="Christian Author Power Parenting Barb Rachner Ministries" />
	<meta name="Keywords" content="Barb Rachner Ministries Power Parenting" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="Distribution" content="Global" />
	<meta name="Author" content="Josh Rachner - josh@joshrachner.com" />
	<meta name="Robots" content="index,follow" />
	
	<title>Barb Rachner Ministries</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<%= stylesheet_link_tag 'style', :media => 'all' %>
	<%= javascript_include_tag 'jquery-1.3.1.min', "preload_images", 'jquery.galleryScroll.1.4.5.pack' %>
	
	<script type="text/javascript">
	$(document).ready(function(){
		$('#carousel').galleryScroll({
			btPrev: 'a.link-prev',
			btNext: 'a.link-next',
			holderList: 'div',
			scrollElParent: 'ul',
			scrollEl: 'li',
			slideNum: false,
			duration : 1000,
			step: false,
			circleSlide: true,
			disableClass: 'disable',
			autoSlide:3000,
			funcOnclick: null
		});
		
		$(document).ready(function(){
		  $.preloadCssImages();
		});
		
	});
	</script>
	
</head>