<h1>About the Author</h1>
<p style="line-height:20px">
	Barb has a passion to communicate God's power potential that pours forth through the words we speak. Her desire is
	 to educate and equip her readers with the life-changing discipline of speaking faith-filled Scriptures to transform 
	 destinies. <img src="images/family.jpg" width="300" alt="family" class="float-left" />She has a blessed marriage of 28 years with three beautiful children, and they reside in Houston, Texas. 
	 Her favorite pastime is any time spent with her family. Although she received her bachelor's degree in business at the University
	 of Texas many years ago, her recent two-year, intensive Biblical study at the Abundant Life School of Ministry (ALSOM), is
	 what unlocked her desire to write. She enjoys teaching all ages on how to release God's Scriptural power through the vehicle
	 of our words. Barb is available for all types of speaking engagements, whether in small groups or large settings.
</p>