<div style="border-bottom: 2px solid #F2F2F2">
	<h1>Books</h1>
</div>	
<div style="border-bottom: 2px solid #F2F2F2">
	<h3>Power Parenting</h3>
	<p>
		<a href="images/power_parenting.jpg" target="_blank" onclick="goImgWin('images/power_parenting.jpg',370,510,100,50);return false;"><img src="images/power_parenting.jpg" width="145" alt="family" class="float-left" /></a>
		If you are interested in ordering Power Parenting, please click the Buy Now button below.<br/><br/>
		Instead of shipping, if you desire to pick up books from Barb's house, please email her.
		For bookstores, Power Parenting will be available to order from many distributors in time. Currently, it 
		is available through Anchor Distributors @ 800.444.4484 or 724.334.7000. Anchor's email: <a href="mailto:marketing@anchordistributors.com">marketing@anchordistributors.com</a> <br/><br/>
		Note: Power Parenting is featured on the back cover of the current Anchor Distributors July-December 2008 Catalog.<br/><br/>
		Power Parenting is also available in many online bookstores such as Amazon.com, and should be available shortly to order/purchase in bookstores across the nation, i.e. Barnes & Noble, Borders, etc.
		<form method="post" class="paypal" action="https://www.paypal.com/cgi-bin/webscr">
			<input type="hidden" value="_s-xclick" name="cmd"/>
			<input type="hidden" value="550512" name="hosted_button_id"/>
			<input type="image" border="0" alt="" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif"/>
		</form><br/><br/>
	</p>
</div>
<div style="height:285px;border-bottom: 2px solid #F2F2F2">
	<h3>Honeycomb Healing</h3>
	<p>
		<a href="images/honeycomb_healing.jpg" target="_blank" onclick="goImgWin('images/honeycomb_healing.jpg',370,510,100,50);return false;"><img src="images/honeycomb_healing.jpg" width="145" alt="family" class="float-left" /></a>
		**Currently Unavailable**
		<br/>Copies are currently being printed
	</p>
</div>