<h1>Contact</h1>
<form class="contact" action="#">		
	<p>				
		<label>Name</label>
		<input name="dname" type="text" size="30" />
		<label>Email</label>
		<input name="demail" type="text" size="30" />
		<label>Your Comments</label>
		<textarea rows="5" cols="5"></textarea>
		<br />	
		<input class="button" type="submit" />		
	</p>		
</form>				
<br />
