<div class="blurb">
	<h1>Welcome!</h1>
	<p>Thanks for checking us out! Our desire is to be an encouragement ministry to remind you that you are never alone. 
		As the beautiful picture above communicates, although you may feel alone, the God of the Universe and the “water 
		of His Word” always surround you. Another reason for this website is to share information about the latest book, 
		Power Parenting, which the Lord wrote through me. (See Books tab)</p>
	<p>May God’s Voice lovingly exhort you through His words in Exodus 33:14: “My Presence will go with you, and I will 
		give you rest.” The book He wrote through me has to do with connecting to God’s Presence through the words you speak.</p>
</div>
<div>
	<h1>» Announcements</h1>
	<p><strong>Power Parenting - Easy as ABC</strong></p>
	<p>Whether you realize it or not: the words you speak contain the power to transform. What you say is what you get. 
		The world calls it self-fulfilling prophecy. Positive words lead to positive change; negative words lead to destruction. 
		Whether you believe it or not: There is a God in Heaven Who desires your children to be far more successful than even you, 
		as a parent, could possibly imagine. In addition, He desires for you to experience a level of satisfaction in parenting that 
		surpasses even your wildest dreams, goals, and expectations. 
		<p>He has already prepared a perfect plan for parents: The success
		 of your children is in your mouth. As the title of this book indicates, there is an available power behind parenting that
		 can guarantee your children’s success. Whether you are doubtful or just plain skeptical, give this book a chance to show 
		you a way to revolutionize not only your family’s destiny, but your own as well.</p>
	<p class="post-footer align-right">					
		<a href="#" class="readmore">Read more</a>
		<a href="#" class="comments">Comments (7)</a>
		<span class="date">July 15, 2008</span>	
	</p>
</div>