<div class="blurb">
	<h1>Hear about the Kenya Connection!</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et eros lacus, sed vehicula risus. Duis enim felis, 
		consequat sit amet vestibulum eget, vehicula vitae arcu. Donec tempor leo quis mi vulputate posuere. Mauris dignissim 
		dolor tincidunt mauris molestie lacinia. Nulla faucibus pretium dictum. Curabitur rutrum scelerisque laoreet. Nullam
		nunc lorem, commodo sit amet faucibus sit amet, pulvinar in nibh. Cras consequat quam quis lacus elementum vestibulum. 
		Integer rutrum iaculis lorem, in lacinia sem mollis at. Duis sagittis eros non purus laoreet quis ullamcorper. 
	</p>
</div>	

<div id="galone" class="svw">  
	<ul>  
	  <li><img src="/images/gallery/Picture101.jpg" height="400px" width="600px" alt="Picture101"></li>
		<li><img src="/images/gallery/DSC00880.jpg" alt="DSC00880"></li>
		<li><img src="/images/gallery/DSC00881.jpg" alt="DSC00881"></li>
		<li><img src="/images/gallery/DSC00882.jpg" alt="DSC00882"></li>
		<li><img src="/images/gallery/115.jpg" height="400px" alt="115"></li>
		<li><img src="/images/gallery/4.jpg" height="400px" alt="4"></li>
		<li><img src="/images/gallery/Island Mission3.jpg" height="400px" alt="Island Mission3"></li>
		<li><img src="/images/gallery/Island Mission4.jpg" height="400px" alt="Island Mission4"></li>
		<li><img src="/images/gallery/Picture21.jpg" height="400px" alt="Picture21"></li>
		<li><img src="/images/gallery/Picture24.jpg" height="400px" alt="Picture24"></li>
		<li><img src="/images/gallery/Picture54.jpg" height="400px" alt="Picture54"></li>
		<li><img src="/images/gallery/Picture93.jpg" height="400px" alt="Picture93"></li>
	</ul> 
</div>