	<%= render :partial => 'shared/header' %>
	<div id="content-wrap">		
		<!--<img src="images/headerphoto.jpg" width="820" height="120" alt="headerphoto" class="no-border" />-->
		<div id="sidebar" >							
			<h1>Sidebar Menu</h1>
			<ul class="sidemenu">
				<li><a href="/index">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/books">Books</a></li>
			</ul>		
			<h1>Site Links</h1>
			<ul class="sidemenu">
				<li><a href="http://www.alcc.org" target="_blank">Abundant Life</a></li>
				<li><a href="http://www.kickdiabetes.org" target="_blank">Kick Diabettes</a></li>
				<li><a href="#">link</a></li>	
				<li><a href="#">link</a></li>											
			</ul>		
			<blockquote>
				<p>&quot;The <i>words</i> you speak have the <i>power</i> to transform.&quot;</p>		
				<p class="align-right">- Barb Rachner</p>
			</blockquote>		
			<div style="height:75px"></div>
		</div>
		<div id="main-wide">	
			<%= yield %>
		</div>		
	</div>
	<%= render :partial => 'shared/footer' %>