	<%= render :partial => 'shared/header' %>
	<div id="content-wrap">		
		<div id="main">	
			<%= yield %>
		</div>		
		<div id="sidebar">							
			<h1>Favorite Sites</h1>
			<ul class="sidemenu">
				<li><a href="http://www.alcc.org" target="_blank">Abundant Life</a></li>
				<li><a href="http://www.kickdiabetes.org" target="_blank">Kick Diabettes</a></li>
				<li><a href="htpp://www.iamsecond.com">i am second</a></li>	
			</ul>		
			<blockquote>
				<span class="stitle">Daily Scripture</span>	
				<p>
					<b><i>Romans 10:9</i></b> - 
					"That if you confess with your mouth the Lord Jesus and believe in your heart 
					that God has raised Him from the dead, you will be saved."
				</p>
			</blockquote>		
		</div>
	</div>
	<%= render :partial => 'shared/footer' %>
